*{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid rgb(151, 150, 150);
  background-color: rgb(255, 255, 255);
}

.navbar h1{
  color: green;
  text-transform: uppercase;
}

.navbar .links{
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  background: #008000;
  color: white;
  border-radius: 8px;
}

.navbar a:hover {
  color: rgb(229, 255, 0);
}

.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.post-summary{
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid green;
}

.post-summary:hover{
  box-shadow: 1px 3px 5px black;
}

.post-summary h2 {
  font-size:  20px;
  color:chartreuse;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.down{
  display: flex;
  justify-content: flex-end;

}

.enter{
  background-color: green;
  padding: 1rem;
  border: 0rem;
  border-radius: 1em;
  color: white;
  margin: 0 auto;
}

.enter:hover{
  box-shadow: 1px 3px 5px black;
}

.post{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.inn{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.post input{
  margin: 10  auto;
  margin-top: 10px;
  border: 0px black;
  border-bottom: 1px solid black;
}

input:hover{
  box-shadow: 1px 3px 5px black;
}

::placeholder{
  align-items: baseline;
}

.title{
  width: 100%;
  height: 5vh;
}

.art{
  width: 100%;
  height: 20vh;
}

.naa{
  width: 50%;
  height: 5vh;
}